.card {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  /* outline: 1px solid blue; */
  height: 225px;

  max-width: 800px;
}

/* ---------- Left Section (Image + Tick + Rating) ---------- */
.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.imageWrapper {
  width: 100px;
  height: 100px;
  background-color: #d6efff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hospitalImg {
  width: 60px;
  height: auto;
}

.tick {
  position: absolute;
  bottom: 30%;
  right: -5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 10px;
  width: 15px;
  height: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.rating {
  margin-top: 10px;
  background-color: #27ae60;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  width: 50px;
}

/* ---------- Middle Section (Text Info) ---------- */
.middleSection {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px; */

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  /* gap: px; */
  height: 100%;
}

.title {
  font-size: 18px;
  color: var(--color-primary);
  margin-bottom: 15px;
}

.location,
.description {
  font-size: 14px;
  color: var(--color-secondary);
  margin: 3px 0;
}

.fee {
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.free {
  color: green;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
  color: hsl(0, 0%, 67%);
  margin-left: 4px;
}

/* ---------- Right Section (Availability + Button) ---------- */
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 90%;
  /* outline: 1px solid red; */
}

.available {
  color: green;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

/* ---------- Responsive ---------- */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .rightSection {
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .rightSection button {
    width: 100%;
  }
}
