.modalContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 50%;
  height: 30%;
  border: 1px solid red;
  border-radius: 15px;
}
