.wrapper {
  width: 100%;
  font-family: var(--font-primary);
}

.topStrip {
  background-color: var(--color-primary); /* Sky blue bar */
  color: var(--color-white);
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* gap: 7.3rem; */

  padding: 20px 0;
  /* padding: 0 80px; */
  width: 100%;
  /* background: var(--bg-gradient2); */
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.3s;
}

.navLinks li:hover {
  color: var(--color-primary);
}

/* Responsive */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* For mobile nav toggle if needed later */
  }
}
