.downloadContainer {
  display: grid;
  place-items: center;
  gap: 30px;
  padding: var(--padding-base);
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--bg-gradient2);
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color-secondary);
  font-size: 30px;
  text-align: center;
}

header span {
  color: var(--color-primary);
}

header p {
  color: black;
  font-size: 16px;
}
.phoneForm {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 0 1rem;
  border: 1px solid lightgray;
}

.countryCode {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: gray;
}

.inputWrapper input {
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  width: 200px;
}

.iconDownload {
  font-size: 20px;
  color: rgba(255, 166, 0, 0.355);
}

.iconDownload2 {
  font-size: 25px;
  color: rgba(255, 0, 0, 0.605);
}

.downloadButtonContainer {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  gap: 40px;
}
